# Entorno virutal y python
.env
*__pycache__

# Directorio default para debugin de equivalencias
compare_queries/.joern_equiv

# Workspace joern
compare_queries/workspace

# Directorio default para exportar CPG as neo4jcsv
cpg2neo4j/.export
